@import url("../../../../shared/style/style.scss");

.btn{
    pointer-events: auto!important;
}
.assistenza-form{
    border-top: 2px solid gray;
}
.sub-title{
    position: relative;
    top:-33px;
    font-size: 14px;
}
.to-point{
    cursor: pointer;
}
.profile-pic{
    width: 170px;
    min-height: 170px!important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: whitesmoke;
}