<div class="row">
    <div class="col-md-12">
        <h2> Gestisci il tuo profilo</h2>
    </div>
    <div class="col-md-12" *ngIf="section=='Richiedi assistenza'">
        <h2>Assistenza</h2>
        <p class="fs-2">Ciao {{user!.nome}} !</p>
        <p class="fs-4 w-75 m-auto pb-5">Qui potrai richiedere assistenza riguardo a varie informazioni. Qui di seguito,
            inserisci l'oggetto della tua richiesta
            e sotto inserisci la descrizione dettagliata. Il nostro team ti risponderà in 24 ore.
        </p>
        <form class="w-75 m-auto row p-4 assistenza-form" [formGroup]="assistenzaForm">
            <div class="col-md-12">
                <label for="oggetto" class="p-3">
                    OGGETTO *
                </label>
                <input type="text" class="form-control p-2" id="oggetto" formControlName="oggetto">
            </div>
            <div class="col-md-12">
                <label for="descrizione" class="p-3">
                    DESCRIZIONE *
                </label>
                <textarea type="text" class="form-control p-2" id="descrizione" formControlName="descrizione" rows="3">
</textarea>
            </div>
        </form>
        <div class="w-75 m-auto">
            <button class="btn my-3 btn-outline-success"
                [matTooltip]="btn.disabled? 'Completa il form': 'Invia la richiesta'" #btn
                [disabled]="assistenzaForm.invalid" (click)="inviaRichiesta()" matTooltipPosition="above">Invia
                richiesta</button>
            <p class="py-3 text-start">* Campi obbligatori</p>
        </div>
    </div>
    <div class="col-md-12" *ngIf="section=='Cambia immagine del profilo'">
        <h2>Cambia immagine del profilo</h2>
    </div>
    <div class="col-md-12" *ngIf="section=='Cambia la password'">
        <h2>Cambia la password</h2>
    </div>
    <div class="col-md-12" *ngIf="section=='Cambia altre informazioni'">
        <h2>Cambia altre informazioni</h2>
    </div>
</div>