.h1,
h2,
* {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
}
.w-auto{
    max-width: 130px;
    position:relative;
    .menu{
    width: 100px;
    transition: 1s;
    position: absolute;
    right: 10px;
    z-index: 40;
    
    div{.p{
      &:hover{
        background-color: red;
      }
    }
  }
  }
  }
  