<div class="row">
<div class="col-md-4 p-1" *ngFor="let g of giochi, index as i" (click)="selectedGame = g;p.textContent=''">
        <div class="p-5 bg-dark">
            {{i}}        
        </div>
    </div>
    <form [formGroup]="giocoForm" (submit)="uploadImage()">
        <p>{{selectedGame?'Stai modificando ' + selectedGame.nomeGioco:'Non hai selezionato nessun gioco'}}</p>
        <input type="file" accept="image/png, image/jpg, image/jpeg" class="form-control" formControlName="image" (change)="onHandleImage($event)">
        <img src="{{url}}" alt="game_image" *ngIf="url!=''">
        <button (click)="url='';selectedImage=null;giocoForm.reset()" *ngIf="url!=''" class="btn btn-danger" type="button">Elimina immagine</button>
        <p class="message text-danger" #p></p>
        <button class="btn" type="submit">Upload image</button>
    </form>
</div>