.col-lg-4,.col-md-6 {
    div{
       cursor: pointer;

    img {
        height: auto;
    } 
    }
    
}

.btn {
    :focus {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }
}
.button{
    cursor:pointer;
}
.game-card{
    border: 2px solid gray;
}