.h1,
h2,
* {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 80px;
}

.btn {
    :focus {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }
}
.button{
    cursor:pointer;
}
.game-card{
    border: 2px solid gray;
}
.row{
    .col-md-4,.col-md-8{
        max-height: 600px;
    }
}