.position-relative {
    .inside-spinner {
        position: absolute;
        bottom: -20%;
        left: -20%;
        animation-name: spinner;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}

@keyframes spinner {
    3% {
        bottom: 0%;
        left: 0%;
    }
    6% {
        bottom: 20%;
        left: 20%;
    }
    9% {
        bottom: 40%;
        left: 40%;
    }
    12% {
        bottom: 60%;
        left: 60%;
    }
    15% {
        bottom: 80%;
        left: 80%;
    }
    18% {
        bottom: 100%;
        left: 100%;
    }
    21% {
        bottom: 120%;
        left: 120%;
    }
    24% {
        bottom: 100%;
        left: 100%;
        transform: rotate(90deg);
    }
    27% {
        bottom: 80%;
        left: 80%;
    }
    30% {
        bottom: 60%;
        left: 60%;
    }
    33% {
        bottom: 40%;
        left: 40%;
    }
    36% {
        bottom: 20%;
        left: 20%;
    }
    39% {
        bottom: 0%;
        left: 0%;
    }
    42% {
        bottom: -20%;
        left: -20%;
    }
    45% {
        bottom: -20%;
        left: 120%;
        transform: rotate(270deg);
    }
    48% {
        bottom: 0%;
        left: 100%;
    }
    51% {
        bottom: 20%;
        left: 80;
    }
    54% {
        bottom: 40%;
        left: 60%;
    }
    57% {
        bottom: 60%;
        left: 40%;
    }
    60% {
        bottom: 80%;
        left: 20%;
    }
    63% {
        bottom: 100%;
        left: 0%;
    }
    66% {
        bottom: 120%;
        left: -20%;
    }
    69% {
        bottom: 100%;
        left: 0%;
    }
    72% {
        bottom: 80%;
        left: 20%;
    }
    75% {
        bottom: 60%;
        left: 40%;
    }
    78% {
        bottom: 40%;
        left: 60%;
        transform: rotate(270deg);
    }
    81% {
        bottom: 20%;
        left: 80%;
    }
    84% {
        bottom: 0%;
        left: 100%;
    }
    87% {
        bottom: 120%;
        left: 120%;
    }
    90% {
        bottom: 90%;
        left: 90%;
        transform: rotate(180deg);
    }
    93% {
        bottom: 70%;
        left: 70%;
    }
    96% {
        bottom: 50%;
        left: 50%;
    }
    99% {
        bottom: 30%;
        left: 30%;
    }
    100% {
        bottom: 10%;
        left: 10%;
    }

}