<div mat-dialog-title>
    <h2>Modifica la richiesta</h2>
</div>
<mat-dialog-content>
    <form [formGroup]="assistenzaForm" class="m-2 border p-2 shadow-sm row text-center">
        <div class="col-md-12 p-2">
            <label for="oggetto" class="p-2">
                Oggetto
            </label>
            <input type="text" formControlName="oggetto" id="oggetto" class="form-control">
        </div>
        <div class="col-md-12 p-2">
            <label for="descrizione" class="p-2">
                Descrizione
            </label>
            <textarea type="text" formControlName="descrizione" rows="5" id="descrizione" class="form-control">
</textarea>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-around py-3 w-50">
<button class="btn btn-outline-success m-1" matTooltip="Modifica" matTooltipPosition="above" (click)="put()">Modifica</button>
<button class="btn btn-outline-danger m-1" matTooltip="Elimina" matTooltipPosition="above" (click)="delete()">Elimina</button>
</mat-dialog-actions>