.h1,
h2,
* {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
}
ul{
  list-style: none;
  li{
    font-size: 20px;
    color:white;
  }
}
.bg-personal{
  background-image: linear-gradient( white,black);
}
.bg-personal-opposite{
  background-image: linear-gradient( gray,black);
}