<footer [ngClass]="mode=='light'?'bg-light text-dark':'bg-dark text-light'" class="text-center border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-5">
                <p class="fs-1">Lorem ipsum</p>
            </div>
            <div class="col-md-6 py-5">
                <p class="fs-4">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum."
                </p>
            </div>
            <div class="col-md-6 py-5">
                <img src="assets/home/images.jpg" alt="img" class="w-75 m-auto border shadow rounded">
            </div>
            <div class="col-md-4">
                <ul>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                </ul>
            </div>
        </div>
    </div>
</footer>