<div class="row text-start">
    <div class="col-md-12">
        <button class="btn shadow-none border-0" *ngFor="let i of icons" (click)="selectItems(i.value)">
            <i class="bi bi {{i.label}} h2" [ngClass]="selectedItems==i.value?'text-dark':'text-white'"></i></button>
    </div>
    <div class="col-md-6 d-flex justify-content-around align-items-end">
        <label for="colors" class="p-2 fs-4">Color </label>
        <select name="colors" id="colors" class="form-select">
            <option value="{{c.value}}" *ngFor="let c of colors" class="{{c.value}}">{{c.label}}</option>
        </select>
    </div>
    <div class="col-md-6 d-flex justify-content-around align-items-end">
        <label for="sizes" class="p-2 fs-4">Size </label>
        <select name="sizes" id="sizes" class="form-select text-start">
            <option value="{{c.value}}" *ngFor="let c of sizes" class="{{c.value}} text-start">{{c.label}}</option>
        </select>
    </div>
</div>