@import url("../../../../../shared/style/style.scss");

.line-through{
    text-decoration: line-through!important;
}
.underline{
    text-decoration: underline!important;
}
.under-through{
    text-decoration: line-through underline!important;
}