<div class="container">
    <div class="row">
        <div class="col-md-12 py-5">
            <h1 class="text-center">A new game <span class="text-danger link-underline-danger">experience</span>.</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 bg-dark py-3 my-5">
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="p-2 border shadow border-success my-2 w-50 m-auto cards">
                    <p class="fs-3 text-success">
                        Quality
                    </p>
                </div>
                <div class="p-2 border shadow border-white my-2 w-50 m-auto cards">
                    <p class="fs-3 text-white">
                        Immersion
                    </p>
                </div>
                <div class="p-2 border shadow border-danger my-2 w-50 m-auto cards">
                    <p class="fs-3 text-danger">
                        Improvement
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <p class="text-white fs-2 w-50 m-auto">
                    Discover the new technologies we use, with sounds, effects, activities and other things that will
                    entertain you.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 py-5 text-center flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="assets/home/images.jpg" alt="a_classic_game_image" title="a_classic_game_image"
                        class="w-75 rounded-top">
                    <div class="w-75 border p-3 m-auto">
                        <p class="fs-2 fw-bold">
                            Lorem ipsum
                        </p>
                        <p class="fs-5">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et
                            dolore magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="flip-card-back">
                    <div class="w-75 bg-dark m-auto">
                        <h1 class="text-success">Lorem ipsum</h1>
                        <p class="fs-5 text-white">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris
                            nisi ut
                            aliquip
                            ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do
                            eiusmod
                            tempor incididunt ut
                            labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris
                            nisi ut
                            aliquip
                            ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4 py-5 text-center flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="assets/home/images.jpg" alt="a_classic_game_image" title="a_classic_game_image"
                        class="w-75 rounded-top">
                    <div class="w-75 border p-3 m-auto">
                        <p class="fs-2 fw-bold">
                            Lorem ipsum
                        </p>
                        <p class="fs-5">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et
                            dolore magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="flip-card-back">
                    <div class="w-75 bg-dark m-auto">
                        <h1 class="text-white">Lorem ipsum</h1>
                        <p class="fs-5 text-white">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris
                            nisi ut
                            aliquip
                            ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do
                            eiusmod
                            tempor incididunt ut
                            labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris
                            nisi ut
                            aliquip
                            ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-5 text-center flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="assets/home/images.jpg" alt="a_classic_game_image" title="a_classic_game_image"
                        class="w-75 rounded-top">
                    <div class="w-75 border p-3 m-auto">
                        <p class="fs-2 fw-bold">
                            Lorem ipsum
                        </p>
                        <p class="fs-5">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et
                            dolore magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="flip-card-back">
                    <div class="w-75 bg-dark m-auto">
                        <h1 class="text-danger">Lorem ipsum</h1>
                        <p class="fs-5 text-white">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris
                            nisi ut
                            aliquip
                            ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do
                            eiusmod
                            tempor incididunt ut
                            labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris
                            nisi ut
                            aliquip
                            ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 py-5 text-center">
            <h2>Lorem ipsum</h2>
            <p class="fs-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
                labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                    class="text-danger">
                    laboris
                </span>
                nisi ut
                aliquip
                ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod
                tempor incididunt ut
                labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut
                aliquip
                ex ea commodo consequat.
            </p>
        </div>
        <div class="col-md-6 py-5 text-center">
            <img src="assets/home/images.jpg" alt="joystick_image" class="m-auto my-5 w-75 border shadow-lg">
        </div>
    </div>
</div>
<div class="container">
</div>