.h1,
h2,
* {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
}

.border-success {
  border: 3px solid green !important;
}

.border-white {
  border: 3px solid white !important;
}

.border-danger {
  border: 3px solid red !important;
}

.cards {
  transition: 1s;

  &:hover {
    scale: 1.1;
    transition: 1s;
    -webkit-box-shadow: 0 0 10px lightyellow !important;
    box-shadow: 0 0 10px lightyellow !important;
  }
}