@keyframes walking-ant {

    1% {
        top: 51%;
        left: 49%;
    }

    2% {
        top: 52%;
        left: 48%;
    }

    3% {
        top: 53%;
        left: 47%;
    }

    4% {
        top: 54%;
        left: 46%;
    }

    5% {
        top: 55%;
        left: 45%;
    }

    6% {
        top: 56%;
        left: 44%;
    }

    7% {
        top: 58%;
        left: 42%;
    }

    8% {
        top: 60%;
        left: 40%;
    }

    9% {
        top: 58%;
        left: 38%;
    }

    10% {
        top: 56%;
        left: 36%;
    }

    11% {
        top: 54%;
        left: 34%;
    }

    12% {
        top: 52%;
        left: 32%;
    }

    13% {
        top: 50%;
        left: 30%;
    }

    14% {
        top: 52%;
        left: 32%;
    }

    15% {
        top: 54%;
        left: 34%;
    }

    16% {
        top: 56%;
        left: 36%;
    }

    17% {
        top: 58%;
        left: 38%;
    }

    18% {
        top: 60%;
        left: 40%;
    }

    19% {
        top: 60%;
        left: 42%;
    }

    20% {
        top: 60%;
        left: 44%
    }

    21% {
        top: 61%;
        left: 46%;
    }

    22% {
        top: 62%;
        left: 48%;
    }

    23% {
        top: 60%;
        left: 50%;
    }

    24% {
        top: 60%;
        ;
        left: 52%;
    }

    25% {
        top: 62%;
        left: 54%;
    }

    26% {
        top: 62%;
        left: 56%;
    }

    27% {
        top: 62%;
        left: 58%;
    }

    28% {
        top: 62%;
        left: 60%;
    }

    29% {
        top: 60%;
        left: 62%;
    }

    30% {
        top: 58%;
        left: 64%;
    }

    31% {
        top: 56%;
        left: 66%;
    }

    32% {
        top: 54%;
        left: 68%;
    }

    33% {
        top: 52%;
        left: 70%;
    }

    34% {
        top: 50%;
        left: 72%;
    }

    35% {
        top: 48%;
        left: 74%;
    }

    36% {
        top: 46%;
        left: 76%;
    }

    37% {
        top: 44%;
        left: 78%;
    }

    38% {
        top: 42%;
        left: 80%;
    }

    39% {
        top: 40%;
        left: 82%;
    }

    40% {
        top: 38%;
        left: 84%
    }

    41% {
        top: 36%;
        left: 86%;
    }

    42% {
        top: 34%;
        left: 88%;
    }

    43% {
        top: 32%;
        left: 90%;
    }

    44% {
        top: 30%;
        left: 92%;
    }

    45% {
        top: 28%;
        left: 94%;
    }

    46% {
        top: 28%;
        left: 92%;
    }

    47% {
        top: 30%;
        left: 90%;
    }

    48% {
        top: 32%;
        left: 88%;
    }

    49% {
        top: 34%;
        left: 86%;
    }

    50% {
        top: 36%;
        left: 84%;
    }

    51% {
        top: 38%;
        left: 82%;
    }

    52% {
        top: 40%;
        left: 80%;
    }

    53% {
        top: 42%;
        left: 78%;
    }

    54% {
        top: 44%;
        left: 76%;
    }

    55% {
        top: 46%;
        left: 74%;
    }

    56% {
        top: 48%;
        left: 72%;
    }

    57% {
        top: 50%;
        left: 70%;
    }

    58% {
        top: 52%;
        left: 68%;
    }

    59% {
        top: 54%;
        left: 66%;
    }

    60% {
        top: 56%;
        left: 64%
    }

    61% {
        top: 58%;
        left: 62%;
    }

    62% {
        top: 60%;
        left: 60%;
    }

    63% {
        top: 62%;
        left: 58%;
    }

    64% {
        top: 60%;
        ;
        left: 56%;
    }

    65% {
        top: 62%;
        left: 54%;
    }

    66% {
        top: 62%;
        left: 56%;
    }

    67% {
        top: 62%;
        left: 58%;
    }

    68% {
        top: 62%;
        left: 60%;
    }

    69% {
        top: 60%;
        left: 62%;
    }

    70% {
        top: 58%;
        left: 64%;
    }

    71% {
        top: 56%;
        left: 66%;
    }

    72% {
        top: 54%;
        left: 68%;
    }

    73% {
        top: 52%;
        left: 70%;
    }

    74% {
        top: 50%;
        left: 72%;
    }

    75% {
        top: 48%;
        left: 74%;
    }

    76% {
        top: 46%;
        left: 76%;
    }

    77% {
        top: 44%;
        left: 74%;
    }

    78% {
        top: 42%;
        left: 72%;
    }

    79% {
        top: 40%;
        left: 70%;
    }

    80% {
        top: 38%;
        left: 68%
    }

    81% {
        top: 40%;
        left: 66%;
    }

    82% {
        top: 42%;
        left: 64%;
    }

    83% {
        top: 44%;
        left: 62%;
    }

    84% {
        top: 46%;
        left: 60%;
    }

    85% {
        top: 44%;
        left: 58%;
    }

    86% {
        top: 42%;
        left: 56%;
    }

    87% {
        top: 40%;
        left: 54%;
    }

    88% {
        top: 38%;
        left: 52%;
    }

    89% {
        top: 36%;
        left: 50%;
    }

    90% {
        top: 34%;
        left: 48%;
    }

    91% {
        top: 32%;
        left: 46%;
    }

    92% {
        top: 34%;
        left: 44%;
    }

    93% {
        top: 36%;
        left: 42%;
    }

    94% {
        top: 38%;
        left: 40%;
    }

    95% {
        top: 40%;
        left: 38%;
    }

    96% {
        top: 42%;
        left: 40%;
    }

    97% {
        top: 44%;
        left: 42%;
    }

    98% {
        top: 46%;
        left: 44%;
    }

    99% {
        top: 48.5%;
        left: 46.5%;
    }

    100% {
        top: 51%;
        left: 49%
    }
}