<div class="row">
    <div class="col-md-12 py-4">
        <div class="container">
            <h1 class="text-center">A new game <span class="text-danger link-underline-danger">experience</span>.</h1>
        </div>
    </div>
    <div class="col-md-12 bg-dark py-3">
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="p-2 border shadow border-success my-2 w-50 m-auto cards">
                    <p class="fs-3 text-success">
                        Quality
                    </p>
                </div>
                <div class="p-2 border shadow border-white my-2 w-50 m-auto cards">
                    <p class="fs-3 text-white">
                        Immersion
                    </p>
                </div>
                <div class="p-2 border shadow border-danger my-2 w-50 m-auto cards">
                    <p class="fs-3 text-danger">
                        Improvement
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <p class="text-white fs-2 w-50 m-auto">
                    Discover the new technologies we use, with sounds, effects, activities and other things that will
                    entertain you.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <img src="assets/home/images.jpg" alt="a_classic_game_image" title="a_classic_game_image" class="w-50">
    </div>
    <div class="col-md-4">
        <img src="assets/home/images.jpg" alt="a_classic_game_image" title="a_classic_game_image" class="w-50">
    </div>
    <div class="col-md-4">
        <img src="assets/home/images.jpg" alt="a_classic_game_image" title="a_classic_game_image" class="w-50">
    </div>
    <div class="container">
    </div>
</div>