<div class="w-100 py-5" [ngClass]="mode=='light'?'bg-white':'bg-personal'">
    <div class="row py-5">
        <div class="col-md-12 py-5 first-background position-relative">
            <h1 class="text-center position-absolute top-100 start-50 translate-middle title">A new game <span
                    class="text-danger link-underline-danger">experience</span>.</h1>
        </div>
    </div>
    <div class="row py-5 my-5">
        <div class="col-md-12 bg-gradient-one py-5 my-5">
            <div class="row position-relative py-5 my-5">
                <div class="col-md-12 text-center cards-container">
                    <div class="p-2 my-2 m-auto cards">
                        <p class="fs-3 w-100">
                            <span>Quality</span>
                            <img src="assets/home/icons/quality.png" alt="icon" class="icon">
                        </p>
                    </div>
                    <div class="p-2 my-2 m-auto cards">
                        <p class="fs-3 w-100">
                            <span>Immersion</span>
                            <img src="assets/home/icons/gamer.png" alt="icon" class="icon">
                        </p>
                    </div>
                    <div class="p-2 my-2 m-auto cards">
                        <p class="fs-3 w-100">
                            <span>Improvement</span>
                            <img src="assets/home/icons/improve.png" alt="icon" class="icon">
                        </p>
                    </div>
                    <div class="p-2 my-2 m-auto cards">
                        <p class="fs-3 w-100">
                            <span>Movement</span>
                            <img src="assets/home/icons/movement.png" alt="icon" class="icon">
                        </p>
                    </div>
                </div>
                <div class="col-md-12 position-absolute bottom-0 pt-5 mt-5">
                    <p class="text-danger fs-2 w-75 m-auto text-shadow">
                        Discover the new technologies we use, with sounds, effects, activities and other things that
                        will
                        entertain you.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 py-5 text-center flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="assets/home/images.jpg" alt="a_classic_game_image" title="a_classic_game_image"
                        class="w-100">
                        <div class="m-auto w-75">
                            <p class="fs-2 fw-bold">
                                Lorem ipsum
                            </p>
                            <p class="fs-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et
                                dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="w-100 bg-dark m-auto p-3">
                            <h1 class="text-success">Lorem ipsum</h1>
                            <p class="fs-5 text-white">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris
                                nisi ut
                                aliquip
                                ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do
                                eiusmod
                                tempor incididunt ut
                                labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris
                                nisi ut
                                aliquip
                                ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-5 text-center flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="assets/home/images.jpg" alt="a_classic_game_image" title="a_classic_game_image"
                        class="w-100">
                        <div class="m-auto w-75">
                            <p class="fs-2 fw-bold">
                                Lorem ipsum
                            </p>
                            <p class="fs-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et
                                dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="w-100 bg-dark m-auto p-3">
                            <h1 class="text-white">Lorem ipsum</h1>
                            <p class="fs-5 text-white">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris
                                nisi ut
                                aliquip
                                ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do
                                eiusmod
                                tempor incididunt ut
                                labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris
                                nisi ut
                                aliquip
                                ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-5 text-center flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="assets/home/images.jpg" alt="a_classic_game_image" title="a_classic_game_image"
                        class="w-100">
                        <div class="m-auto w-75">
                            <p class="fs-2 fw-bold">
                                Lorem ipsum
                            </p>
                            <p class="fs-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et
                                dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="w-100 bg-dark m-auto p-3">
                            <h1 class="text-danger">Lorem ipsum</h1>
                            <p class="fs-5 text-white">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris
                                nisi ut
                                aliquip
                                ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do
                                eiusmod
                                tempor incididunt ut
                                labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris
                                nisi ut
                                aliquip
                                ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5 my-5">
        <div class="row dotted-background bg-light">
            <div class="col-md-6 py-5 text-center six-to-hover">
                <h2>Lorem ipsum</h2>
                <p class="fs-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                        class="text-danger">
                        laboris
                    </span>
                    nisi ut
                    aliquip
                    ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut
                    labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut
                    aliquip
                    ex ea commodo consequat.
                </p>
            </div>
            <div class="col-md-6 py-5 text-center">
                <img src="assets/home/images.jpg" alt="joystick_image"
                    class="m-auto my-5 w-75 border shadow-lg shaking">
            </div>
            <div class="col-md-12 py-5 my-5">
                <h1 class="text-center">
                    Lorem ipsum lorem ipsum
                </h1>
                <p class="fs-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et
                    dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                        class="text-danger">
                        laboris.
                    </span>
                </p>
            </div>
            <div class="col-md-6 p-5 text-center position-relative six-relative">
                <div class="upper-part position-absolute w-100">
                    <img src="assets/home/images.jpg" alt="image" class="w-75 border border-dark">
                </div>
                <div class="lower-part position-absolute w-100">
                    <p class="p-3 fs-4 w-50 m-auto bg-dark text-white">
                        <label class="fs-2 text-success">Lorem ipsum</label><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et
                        dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                            class="text-danger">
                            laboris.
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-md-6 p-5 text-center position-relative six-relative">
                <div class="upper-part position-absolute w-100">
                    <img src="assets/home/images.jpg" alt="image" class="w-75 border border-dark">
                </div>
                <div class="lower-part position-absolute w-100">
                    <p class="p-3 fs-4 w-50 m-auto bg-dark text-white">
                        <label class="fs-2 text-success">Lorem ipsum</label><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et
                        dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                            class="text-danger">
                            laboris.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-gradient-two text-center my-5 position-relative">
        <img src="assets/home/icons/insect.png" class="ant" alt="ant.png">
        <div class="col-md-12 py-5">
            <p class="fs-4 py-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
                labore et
                dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                    class="text-danger">
                    laboris.
                </span>
            </p>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 py-5 my-5">
                <img src="assets/home/images.jpg" alt="joystick_image"
                    class="m-auto my-5 w-75 border shadow-lg shaking">
            </div>
            <div class="col-md-6 py-5 my-5 six-to-hover">
                <h2>Lorem ipsum</h2>
                <p class="fs-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                        class="text-danger">
                        laboris
                    </span>
                    nisi ut
                    aliquip
                    ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut
                    labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut
                    aliquip
                    ex ea commodo consequat.
                </p>
            </div>
            <div class="col-md-4 p-5">
                <img src="assets/home/images.jpg" alt="image" class="w-100 border shadow m-auto rotation-image">
            </div>
            <div class="col-md-4 p-5">
                <img src="assets/home/images.jpg" alt="image" class="w-100 border shadow m-auto rotation-image">
            </div>
            <div class="col-md-4 p-5">
                <img src="assets/home/images.jpg" alt="image" class="w-100 border shadow m-auto rotation-image">
            </div>
            <div class="col-md-12 py-5">
                <h1>Lorem ipsum</h1>
                <div class="d-flex star-container">
                </div>
                <p class="fs-4 py-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et
                    dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                        class="text-danger">
                        laboris.
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 border-col">
            <p class="fs-4 p-5 mx-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
                labore et
                dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
                labore et
                dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
                labore et
                dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                    class="text-danger">
                    laboris.
                </span>
            </p>
            <h1>Lorem ipsum</h1>
            <p class="fs-4 p-5 mx-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
                labore et
                dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
                labore et
                dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
                labore et
                dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                    class="text-danger">
                    laboris.
                </span>
            </p>
        </div>
    </div>
</div>