<div class="container py-5 text-center">
    <div class="row">
        <div class="col-md-12 py-5">
            <h1>Accedi o registrati</h1>
        </div>
        <div class="col-md-12 text-center">
            <p class="fs-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.
            </p>
        </div>
    </div>
</div>
