<div class="container py-5 my-5">
    <div class="row py-5 my-5">
        <div class="col-md-12 py-5 text-center">
            <h1>
                Memory
            </h1>
        </div>
        <div class="col-md-12 d-flex justify-content-start">
            <button class="btn" title="
1. Scegli la difficoltà, ti mostreremo 5, 10 o 20 carte. 
2. In base alla difficoltà hai 20, 40 o 60 secondi di tempo per memorizzarle e memorizzare la posizione. Se vuoi puoi stoppare prima. 
3. Ti mostreremo una carta alla volta, e tu dovrai dirci , cliccandoci sopra, dove è la carta uguale.
4. Otterrai il massimo dei punti se finirai nel tempo limite e senza errori.">Regole del gioco <i class="bi bi-info-circle"></i>
            </button>
        </div>
        <div class="col-md-12 p-5 w-100 text-center" *ngIf="step==1">
            <label class="fs-2 py-3">Scegli la difficoltà</label>
            <div class="d-flex justify-content-center py-3">
                <div class="p-2">
                    <label for="difficoltaLow" class="px-2 py-3 fs-5 text-success">Bassa</label>
                    <input type="radio" name="difficolta" id="difficoltaLow" class="mt-3 form-check-input" value="low" #low (change)="difficolta = low.value">
                </div>
                <div class="p-2">
                    <label for="difficoltaMedium" class="px-2 py-3 fs-5 text-warning">Media</label>
                    <input type="radio" name="difficolta" id="difficoltaMedium" class="mt-3 form-check-input" value="medium" #medium (change)="difficolta = medium.value">
                </div>
                <div class="p-2">
                    <label for="difficoltaHigh" class="px-2 py-3 fs-5 text-danger">Alta</label>
                    <input type="radio" name="difficolta" id="difficoltaHigh" class="mt-3 form-check-input" value="high" #high (change)="difficolta = high.value">
                </div>
            </div>
            <div class="py-3">
                <button class="btn" title="Vai avanti" [disabled]="difficolta == ''" (click)="go()">Continua</button>
            </div>
        </div>
    </div>
</div>