<div class="container py-5 my-5">
    <div class="row py-5 my-5">
        <div class="col-md-12 py-5 text-center">
            <h1>
                Memory
            </h1>
        </div>
        <div class="col-md-12 d-flex justify-content-start">
            <button class="btn" title="
1. Scegli la difficoltà, ti mostreremo 5, 10 o 20 carte. 
2. In base alla difficoltà hai 20, 40 o 60 secondi di tempo per memorizzarle e memorizzare la posizione. Se vuoi puoi stoppare prima. 
3. Ti mostreremo una carta alla volta, e tu dovrai dirci , cliccandoci sopra, dove è la carta uguale.
4. Otterrai il massimo dei punti se finirai nel tempo limite e senza errori.">Regole del gioco <i class="bi bi-info-circle"></i>
            </button>
        </div>
    </div>
</div>