<div class="py-5 w-100" [ngClass]="mode=='light'?'bg-white':'bg-personal'">
    <div class="container py-5 my-5 text-center">
        <div class="row py-5 my-5">
            <div class="col-md-12 mt-5">
                <h1 class="mt-5"><span class="text-danger">W</span>elcome {{user?.nome}}</h1>
            </div>
            <div class="col-md-12 text-start position-relative px-3">
                <button class="btn" (click)="showMenu=!showMenu">
                    <i class="bi bi-list h2" title="Espandi il profilo"></i>
                </button>
                <div class="profile-card-container position-absolute top-25" *ngIf="showMenu">
                    <div class="row text-start p-3 bg-light shadow overflow-auto profile-card">
                        <div class="col-md-12 text-center">
                            <h2>Il tuo profilo</h2>
                        </div>
                        <div class="col-md-12 text-center">
                            <img src="{{user?.immagineProfilo}}" class=" profile-image m-auto rounded-circle shadow-sm"
                                alt="immagine_profilo">
                        </div>
                        <div class="col-lg-6 fs-2 p-2">
                            <p class="fs-4 text-danger">Nome</p>
                            {{user?.nome}}
                        </div>
                        <div class="col-lg-6 fs-2 p-2">
                            <p class="fs-4 text-danger">Cognome</p>
                            {{user?.cognome}}
                        </div>
                        <div class="col-lg-12 fs-2 p-2">
                            <p class="fs-4 text-danger">Email</p>
                            {{user?.email}}
                        </div>
                        <div class="col-lg-12 fs-2 p-2">
                            <p class="fs-4 text-danger">Città</p>
                            {{user?.citta?.nome}}
                        </div>
                        <div class="col-lg-12 fs-2 p-2">
                            <p class="fs-4 text-danger">Profilo creato in data</p>
                            {{user?.createdAt}}
                        </div>
                        <div class="col-md-12 text-end">
                            <button class="btn brn-light text-success" title="Vai al gioco" (click)="navigateToProfile()">
                                <i class="bi bi-arrow-up-right h3 p-3 text-success"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 pt-5 mt-5 px-3 text-start">
                <div class="row">
                    <div class="col-md-12 scrollable-container d-flex bg-light">
                        <div class="p-2 lobby-nav-button text-center" [ngClass]="location=='giochi'? 'bg-warning':''">
                            <button class="btn" (click)="location='giochi'">
                                Giochi disponibili
                            </button>
                        </div>
                        <img src="assets/lobby/green-dots.png" alt="green_dot" class="green-dots">
                        <div class="p-2 lobby-nav-button text-center"
                            [ngClass]="location=='classifiche'? 'bg-warning':''">
                            <button class="btn" (click)="location='classifiche'">
                                Classifiche
                            </button>
                        </div>
                        <img src="assets/lobby/green-dots.png" alt="green_dot" class="green-dots">
                        <div class="p-2 lobby-nav-button text-center" [ngClass]="location=='trofei'? 'bg-warning':''">
                            <button class="btn" (click)="location='trofei'">
                                I tuoi trofei
                            </button>
                        </div>
                        <img src="assets/lobby/green-dots.png" alt="green_dot" class="green-dots">
                        <div class="p-2 lobby-nav-button text-center" [ngClass]="location=='punteggi'? 'bg-warning':''">
                            <button class="btn" (click)="location='punteggi'">
                                Punteggi
                            </button>
                        </div>
                        <img src="assets/lobby/green-dots.png" alt="green_dot" class="green-dots">
                        <div class="p-2 lobby-nav-button text-center"
                            [ngClass]="location=='statistiche'? 'bg-warning':''">
                            <button class="btn" (click)="location='statistiche'">
                                Statistiche
                            </button>
                        </div>
                        <img src="assets/lobby/green-dots.png" alt="green_dot" class="green-dots">
                        <div class="p-2 lobby-nav-button text-center" [ngClass]="location=='about-us'? 'bg-warning':''">
                            <button class="btn" (click)="location='about-us'">
                                About us
                            </button>
                        </div>
                        <img src="assets/lobby/green-dots.png" alt="green_dot" class="green-dots">
                        <div class="p-2 lobby-nav-button text-center"
                            [ngClass]="location=='assistenza'? 'bg-warning':''">
                            <button class="btn" (click)="location='assistenza'">
                                Assistenza
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12 p-2">
                        <div class="w-100 border shadow-sm p-3 bg-light overflow-auto">
                            <app-giochi *ngIf="location=='giochi'" [user]="user"></app-giochi>
                            <app-classifiche *ngIf="location=='classifiche'" [classificaId]="classificaId"></app-classifiche>
                            <app-trofei *ngIf="location=='trofei'"></app-trofei>
                            <app-punteggi *ngIf="location=='punteggi'"></app-punteggi>
                            <app-statistiche *ngIf="location=='statistiche'"></app-statistiche>
                            <app-about-us *ngIf="location=='about-us'"></app-about-us>
                            <app-assistenza *ngIf="location=='assistenza'"></app-assistenza>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>