<div class="py-5 w-100" [ngClass]="mode=='light'?'bg-light':'bg-personal'">
    <div class="container py-5 my-5 text-center" >
        <div class="row py-5 my-5">
            <div class="col-md-12 mt-5">
                <h1 class="mt-5">Welmcome {{user?.nome}}</h1>
            </div>
            <div class="col-md-12 pt-5 mt-5 text-start">
                <button class="btn rounded-circle btn-secondary border"
                    (click)="toggle=!toggle">{{toggle?'Close':'Open'}}</button>
            </div>
            <div class="col-md-3 p-3" *ngIf="toggle">
                <div class="w-100 border shadow-sm p-1 bg-light"></div>
            </div>
            <div [ngClass]="toggle?'col-md-9':'col-md-12'" class=" p-3">
                <div class="w-100 border shadow-sm p-1 bg-light"></div>
            </div>
        </div>
    </div>
</div>