.h1,
h2,
* {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 80px;
}

.bg-personal {
  background-color: gray;
}

.profile-card {
  border-top: 5px solid rgb(73, 255, 143);
  border-right: 5px solid rgb(141, 255, 160);
  border-bottom: 5px solid rgb(213, 255, 217);
  border-left: 5px solid rgb(64, 255, 0);
}

.lobby-nav-button {
  min-width: 150px;
  transition: 1s;

  button {
    font-size: 20px;
  }

  &:hover {
    border-right: 1px solid rgb(64, 255, 0);
    border-left: 1px solid rgb(64, 255, 0);
    background-color: rgb(141, 255, 160);
    transition: 1s;
  }
}

.green-dots {
  width: 20px;
  height: 10px;
  margin-top: 25px;
  margin-left: 2%;
  margin-right: 2%;
}