<div class="border w-100">
    <div class="w-50 m-auto skeleton">
        <img src="assets/home/star.png" class="w-100" [style.visibility]="'hidden'" alt="">
    </div>
    <div class="py-2">
        <div class="w-50 m-auto skeleton p-3">
        </div>
    </div>
    <div class="py-2">
        <div class="w-50 skeleton p-2">
        </div>
    </div>
    <div class="py-2">
        <div class="w-75 skeleton p-2">
        </div>
    </div>
    <div class="py-2">
        <div class="w-75 skeleton p-2">
        </div>
    </div>
    <div class="py-2">
        <div class="w-75  skeleton p-5">
        </div>
    </div>
    <div class="py-2">
        <div class="w-75 skeleton p-2">
        </div>
    </div>
    <div class="py-2">
        <div class="w-100 m-auto skeleton p-3">
        </div>
    </div>
</div>
