.profile-image{
    width: 50px;
    height: 50px;
}
.bg{
    background-repeat: no-repeat!important;
    background-size: auto!important;
    background-position: center!important;
}
.gioco-image{
    width: 50px;
    height: 50px;
}