<div class="container p-3">
    <div class="row">
        <div class="col-md-12 text-end">
            <mat-dialog-actions>
                <button class="btn text-danger" mat-dialog-close>Chiudi</button>
            </mat-dialog-actions>
        </div>
        <div class="col-md-6 d-flex justify-content-between align-items-end" mat-dialog-title>
            <img [src]="user?.immagineProfilo" alt="profile_image" class="profile-image border rounded-circle">
            <p class="px-2 fw-bold">
                {{user?.fullName}}
            </p>
        </div>
        <div class="col-md-12" mat-dialog-content>

        </div>
        <div class="col-md-12" mat-dialog-actions>
        </div>
    </div>
</div>