.btn{
    color:lightgray;
    transition: .5s;
    &:hover{
        color: greenyellow!important;
        transition: .5s!important;
        scale: 1.1!important;
        font-weight: bold!important;
    }
}