<nav class="py-3 bg-dark text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn">Home</button>
            </div>
            <div class="col-md-4">
                <button class="btn">Game field</button>
            </div>
            <div class="col-md-4">
                <button class="btn">Login</button>
            </div>
            <div class="col-md-4">
                <button class="btn">Logout</button>
            </div>
        </div>
    </div>
</nav>
