<nav class="py-3 text-center" [ngClass]="mode=='light'?'bg-personal':'bg-dark'">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-end mode">
                <button class="btn text-light light fs-4" (click)="updateMode('light')" *ngIf="mode=='dark'">
                    Light mode ☀️
                </button>
                <button class="btn text-dark dark fs-4" (click)="updateMode('dark')" *ngIf="mode=='light'">
                    Dark mode 🌙
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn fs-4" [ngClass]="mode!='light'?'text-light':'text-dark'"  [routerLink]="'/home'">Home</button>
            </div>
            <div class="col-md-4">
                <button class="btn fs-4" *ngIf="isAuthenticatedUser" [ngClass]="mode!='light'?'text-light':'text-dark'" [routerLink]="'/game-field'">Game field</button>
            </div>
            <div class="col-md-4" *ngIf="!isAuthenticatedUser;else logOut">
                <button class="btn fs-4" [ngClass]="mode!='light'?'text-light':'text-dark'" [routerLink]="'/forms'">Login</button>
            </div>
            <ng-template #logOut>
                <div class="col-md-4" *ngIf="isAuthenticatedUser">
                    <button class="btn fs-4" (click)="logout()" [ngClass]="mode!='light'?'text-light':'text-dark'" [routerLink]="'/home'">Logout</button>
                </div>
            </ng-template>
        </div>
    </div>
</nav>