<div class="w-100 z-4 position-relative" [ngClass]="mode=='light'?'bg-white':'bg-personal'">
    <div class="position-absolute w-100 d-flex balls-container" *ngIf="window.innerWidth>700">
        <div *ngFor="let n of balls" class="p-3 m-1 rounded-circle position-absolute"></div>
    </div>
    <div class="position-absolute w-100">
         <app-forms-label ></app-forms-label>
    <div class="container py-5 text-center">
        <div class="row d-flex justify-content-around">
            <button class="btn btn-1 w-25 fs-2" title="Registrati e scopri i nuovi giochi." (click)="route('signup')">
                Signup
            </button>
            <button class="btn btn-2 w-25 fs-2" title="Accedi e gioca." (click)="route('login')">
                Login
            </button>
        </div>
    </div> 
    </div>
</div>
<router-outlet><router-outlet />