@import url("forms-animations.scss");
@import url("../../shared/style/style.scss");

.background-forms-image {
  height: 100vh;
}

.balls-container {
  top: 10%;
  left: 5%;
  height: 70vh;
  align-items: center;
  justify-content: center;
  transition: 1s;

  :nth-child(1) {
    top: 0%;
    right: 50%;
    transition: 1s;
    background-color: rgba($color: #3dd323, $alpha: .3);
    animation-name: rotation-1;
    animation-duration: 7s;
    animation-iteration-count: infinite;

  }

  :nth-child(2) {
    top: 15%;
    right: 20%;
    background-color: rgba($color: #00fe5d, $alpha: .3);
    animation-name: rotation-2;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    transition: 1s;

  }

  :nth-child(3) {
    top: 85%;
    right: 20%;
    background-color: rgba($color: #00fe5d, $alpha: .3);
    animation-name: rotation-3;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    transition: 1s;

  }

  :nth-child(4) {
    top: 100%;
    right: 50%;
    background-color: rgba($color: #00fe5d, $alpha: .3);
    animation-name: rotation-4;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    transition: 1s;

  }

  :nth-child(5) {
    top: 85%;
    right: 80%;
    background-color: rgba($color: #00fe5d, $alpha: .3);
    animation-name: rotation-5;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    transition: 1s;

  }

  :nth-child(6) {
    top: 15%;
    right: 80%;
    background-color: rgba($color: #00fe5d, $alpha: .3);
    animation-name: rotation-6;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    transition: 1s;
  }
}

.bg-personal-trasparent {
  background-color: rgba(rgb(234, 200, 67), .7);
}

.position-relative {
  min-height: 930px;
}

.btn-1 {
  background-color: rgba(254, 179, 3,.5);
  scale: .8;
  transition: 1s;
  &:hover {
    background-color: rgba(254, 179, 3);
    box-shadow: 0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 2rem #ffb700,
      0 0 0.8rem #ffb700,
      0 0 2.8rem #ffb700,
      inset 0 0 1.3rem #ffb700;
      transition: 1s;
      scale: 1;
  }
}

.btn-2 {
  background-color: rgba(4, 255, 0,.5);
  scale: .8;
  transition: 1s;
  &:hover {
    background-color: rgba(4, 255, 0);
    box-shadow: 0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 2rem #00ff0d,
      0 0 0.8rem #00ff0d,
      0 0 2.8rem #00ff0d,
      inset 0 0 1.3rem #00ff0d;
      transition: 1s;
      scale: 1;
  }
}