.h1,
h2,
* {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
}

.bg-personal {
  background-color: gray;
}

.background-forms-image {
  height: 100vh;
}

.balls-container {
  top: 10%;
  height: 50vh;
  align-items: center;
  justify-content: center;
  animation-duration: 20;
  animation-name: rotation;
  animation-iteration-count: infinite;


  :nth-child(1) {
    top: 0%;
    background-color: rgba($color: #3dd323, $alpha: .3);
    animation-name: rotation-1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  :nth-child(2) {
    top: 15%;
    right: 20%;
    background-color: rgba($color: #00fe5d, $alpha: .3);
    animation-name: rotation-2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  :nth-child(3) {
    top: 15%;
    left: 20%;
    background-color: rgba($color: #00fe5d, $alpha: .3);
    animation-name: rotation-3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  :nth-child(4) {
    bottom: 0%;
    background-color: rgba($color: #00fe5d, $alpha: .3);
    animation-name: rotation-4;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  :nth-child(5) {
    bottom: 15%;
    right: 20%;
    background-color: rgba($color: #00fe5d, $alpha: .3);
    animation-name: rotation-5;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  :nth-child(6) {
    bottom: 15%;
    left: 20%;
    background-color: rgba($color: #00fe5d, $alpha: .3);
    animation-name: rotation-6;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
}

@keyframes rotation-1 {
  0% {

    top: 15%;
    right: 20%;
    transition: 1s;
    width: 40px;
    height: 40px;
  }

  20% {
    bottom: 15%;
    right: 20%;
    transition: 1s;
    width: 40px;
    height: 40px;
  }

  40% {
    bottom: 0%;
    transition: 1s;
    width: 40px;
    height: 40px;
  }

  60% {
    bottom: 15%;
    left: 20%;
    transition: 1s;
    width: 40px;
    height: 40px;
  }

  80% {
    top: 15%;
    left: 20%;
    transition: 1s;
    width: 40px;
    height: 40px;
  }

  100% {
    top: 0;
    transition: 1s;
    width: 40px;
    height: 40px;
  }

}

@keyframes rotation-2 {
  0% {
    bottom: 15%;
    right: 20%;
    transition: 1s;
    width: 40px;
    height: 40px;
  }

  20% {
    bottom: 0%;
    transition: 1s;
    width: 40px;
    height: 40px;
  }

  40% {
    bottom: 15%;
    left: 20%;
    transition: 1s;
    width: 40px;
    height: 40px;
  }

  60% {
    top: 15%;
    left: 20%;
    transition: 1s;
    width: 40px;
    height: 40px;
  }

  80% {
    top: 0%;
    transition: 1s;
    width: 40px;
    height: 40px;
  }

  100% {
    top: 15%;
    right: 20%;
    transition: 1s;
    width: 40px;
    height: 40px;
  }
}

@keyframes rotation-3 {

  0% {
    top: 0;
    transition: 1s;
    width: 40px;
    height: 40px;

  }
}

@keyframes rotation-4 {
  0% {
    top: 15%;
    left: 20%;
    transition: 1s;
    width: 40px;
    height: 40px;

  }
}

@keyframes rotation-5 {
  0% {
    bottom: 0;
    transition: 1s;
    width: 40px;
    height: 40px;
  }
}

@keyframes rotation-6 {
  0% {
    top: 0;
    transition: 1s;
    width: 40px;
    height: 40px;
  }
}